/* ========================================================= */
/* DEFAULT OVERIDES */
/* ========================================================= */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* main{
    max-width: 60%;
    min-width: 980px;

} */

*, *::before, *::after{
    box-sizing: border-box;
}

#pagewrap
{
    margin:0 auto;
    background-image: url("images/bike-bg.jpg");
    background-size: 100%;
    background-attachment: fixed;   
}

/* ========================================================= */
/* TITLE AND FONTS */
/* ========================================================= */

h1{
    font-size: 6em;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-bottom: -50px;
}

#title{
    display: grid;
    grid-template-columns: 1fr;
}

h2{
    color: #ea4335;
    text-align: center;
    font-size: 3em;
}

.heading2{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


h3{
    color: white;
    font-size: 1.25em;
    text-align: center;
}
p{
    color: white;
    margin-bottom: -10px;
}

/* ========================================================= */
/* MAP */
/* ========================================================= */

#map {
    width: 800px;
    height: 600px;
    margin-top: 20px;
    margin: 0 auto;
}

/* ========================================================= */
/* FORM */
/* ========================================================= */

#p_find_your_way{
    font-size: 1.5em;
    padding-bottom: 1em;
    text-align: center;
}
.work-form button {
    height: 50px;
    border:0;
    background-color:#ea4335;
    color: #000;
    border-radius: 10px;
    padding:0.3em 1em;
    text-transform:uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size:1em;
    margin-top:1.2em;
    cursor: pointer;
    border: 1px solid  white;
    outline: none;
    margin-bottom: 50px;
}
.form-field {
    height: 50px;
    font-size: 14px;
    line-height: normal;
    margin: 20px;
    text-align: center;
}

#dest_city, #start_city {
    height: 50px;
    width: 500px;
    border: 2px solid rgba(0,0,0,.1);
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-style: italic;
    box-sizing: border-box;
    outline: none;
}

#field_city:focus, #field_address:focus, #field_PC:focus {
    border: 2px solid #AC2430;
}
#submit-field{
    text-align: center;
}
#submit:hover{
    background-color: white;
    color: #ea4335;
}

/* ========================================================= */
/* MEDIA QUERIES */
/* ========================================================= */

@media all and (max-width:985px){

    h1{
        font-size: 4em;
    }

    h2{
        font-size: 2em;
        margin-top: 2em;
    }

    #map{
        width: 600px;
        height: 400px;
    }

    #dest_city, #start_city {
        width: 300px;    
    }

}

@media all and (max-width:615px){
    #map{
        width: 400px;
        height: 400px;
    }
}